@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d0d4e1;
    border-radius: 50px;
    height: auto;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #348aa4;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}
