@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  height: 100vh;
  // background-color: var(--secondary);
  background: rgb(27,52,64);
background: linear-gradient(189deg, rgba(27,52,64,1) 20%, rgba(10,18,27,1) 100%);
  color: black;

  .description {
    background-color: aqua;
  }

  .header-wrapper {
    width: 100%;
    height: 60%;
    max-height: 600px;
    color: white;
    text-align: center;
    z-index: 999;
    position:relative;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: relative;
  }

  .header {
    background-image: url("/images/banner3.png");
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    // z-index: 999;
    // display: block;
    position: absolute;

  }

  .header h1 {
    font-size: 60px;
    padding-top: 200px;
    filter: drop-shadow(0 0 1rem rgba(0,0,0,0.1))
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active,
  .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .card-grid {
    padding-left: 20%;
    padding-right: 20%;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .main-bar-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    height: 20%;
  }

  .main-bar{
    // width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;

    > * {
      margin: 5px;
    }

    select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: rgba(0,0,0,0.3);
      color: #fff;
      width: 100%;
      padding: 5px 10px;
      border-radius: 3px;
      font-weight: 600;
    }

    select:disabled {
      opacity: 1;
  }

    select option {
      color: #000;
      padding: 0 10px;
    }

    .dropdown {
      position: relative;
      width: 200px;
    }

    > .dropdown:after {
      content: '\2304';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.25);
      color: #fff;
      padding: 0px 8px;
      pointer-events: none;
      border-radius: 0px 3px 3px 0px;
    }

    .prompt-select{
      position: relative;
    }

    .regenPrompt{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 3px 10px 3px 12px;
      border-radius: 0px 3px 3px 0px;
    }

    .regenPrompt:hover{
      cursor: pointer;
    }

    .regenPrompt:after{
      content: '\27F3';
    }
  }

  .main-bar > div > select:hover {
    cursor: pointer !important;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
  }

  .footer-wrapper{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 12.5%;
    padding-bottom: 10px;
  }
  // .footer > * {
  // }
}
