@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  height: 100vh;
  background-color: aliceblue;
  color: black;
}

.description {
  background-color: aqua;
}

.header {
  background-image: url("/tester.jpg");
  width: 100%;
  height: 280px;
  background-size: cover;
  color: white;
  text-align: center;
}

.header h1 {
  color: aquamarine;
  font-size: 60px;
  padding-top: 100px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.card-grid {
  padding-left: 20%;
  padding-right: 20%;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
